.wrapper {
    padding: 20px;
}

.header {
    font-size: 26px;
}

.contentWrapper {
    margin-top: 40px;
    display: flex;
}

.dialogsList {
    display: flex;
    flex-direction: column;
    padding-right: 80px;
    margin-right: 60px;
    border-right: 2px solid #000000;
}

.messagesList {
    width: 100%;
    padding-right: 30px;
}

.textField {
    display: block;
    width: 100%;
    resize: none;
    background-color: #dfedf0;
    margin-top: 20px;
    padding: 15px;
}

.btn {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    border: 1px solid #1d1d34;
    color: #1d1d34;
    width: 130px;
    border-radius: 5px;
}